.DS_Store
.idea
.bloop
.metals
.global-logging
.tast-temp-directory
.metals.sbt

*.class
*.tasty
project/
target/
.bsp/

*.log
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws
.vscode/
lib_managed/
src_managed/
dist/
/.idea_modules/
.cache/
.history/
