.DS_Store
.idea
.bloop
.metals
.global-logging
.tast-temp-directory
.metals.sbt

*.class
*.tasty
project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
project/target/scala-2.12/sbt-1.0/sync/copy-resource
project/target/streams/compile/_global/_global/compileOutputs/previous
